p, h1, h2, h3 {
   margin: 0;
}

$aqua: rgb(117, 249, 238);
$darkestblue: #2A2F4A;
$purple: rgb(203, 127, 255);
$purpletwo: #7C76B3;

@mixin flex {
   display: flex;
   justify-content: center;
   align-items: center;
}
a {
   outline: none;
}
*:active, *:focus {
   outline: 0;
   outline: none;
}
body {
   font-family: 'PT Sans', sans-serif;
   letter-spacing: 1px;
   // font-family: 'Raleway',sans-serif;
}
p {
   line-height: 180%;
}
.hero-section {
   width: 100%;
   height: 100vh;
   // background-position: center center;
   color: white;
}

#wpadminbar {
   display: none;
}

.hero-nav {
   position: absolute;
   width: 100%;
   bottom: 0;
   left: 0;
   color: white;
   text-transform: uppercase;
   background: black;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   p {
      width: 7%;
   }
   ul {
      // flex: 1 0 90%;
      width: 93%;
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      li {
         margin: 0 2%;
      }
      li:last-child {
         margin-right: 0;
      }
   }
}

.hero-wrapper {
   width: 100%;
   height: 100%;
   background: rgba(30, 23, 54, 0.34);
   @include flex;
   justify-content: flex-start;
   // padding-left: 15%;
   .hero-content {
      width: 80%;
      margin: 0 auto;
      h1 {
         padding: 2% 0;
         border-bottom: 3px solid white;
         text-transform: uppercase;
         font-size: 5rem;
         letter-spacing: 15px;
      }
      h4 {
         font-family: 'Raleway', sans-serif;
         letter-spacing: 4px;
      }
   }
}

.about-me {
   background: #2A2F4A;
   color: white;
   .about-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      padding: 3.5% 5% 4% 5%;
      h1 {
         text-transform: uppercase;
         border-bottom: 2.5px solid $aqua;
         padding-bottom: 10px;
         // margin-bottom: 25px;
         align-self: flex-start;
      }
   }
}

.about-wrapper {
   display: flex;
   flex-wrap: wrap;
   // justify-content: space-between;
   align-items: center;
   .about-text {
      flex: 1 0 70%;
      padding-right: 3%;
   }
   .about-image {
      // background: white;
      flex: 1 0 30%;
      // width: 40%;
      max-width: 400px;
      img {
         width: 100%;
         height: 100%;
      }
   }
}
.portfolio-item:nth-of-type(even) {
   background: #333856;
   .portfolio-image {
      margin-right: 2%;
      margin-left: 0;
      // border: 20px solid rgba(0,0,0,0.81);
   }
   .portfolio-description {
      // background: #333856;
   }
}

.portfolio-item {
   width: 100%;
   display: flex;
   color: white;
   // height: 60vh;
   background: #2E3450;
   .portfolio-image {
      flex: 1 0 40%;
      margin-left: 2%;
      // background: lightpink;
      // border: 20px solid rgba(0,0,0,0.79);
      img {
         width: 100%;
         height: 100%;
      }
   }
   .portfolio-description {
      flex: 1 0 58%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3% 3% 3% 3%;
      // background: #2E3450;
      h2 {
         margin-bottom: 15px;
         // border-top: 3px solid white;
         border-left: 3.5px solid $aqua;
         // border-right: 3px solid white;
         padding: 15px 20px;
         font-size: 1.8rem;
         align-self: flex-start;
         text-transform: uppercase;
      }
      p {
         // margin-bottom: 5%;
         padding-left: 23px;
         margin-bottom: 15px;
      }
      .view-button {
         text-decoration: none;
         text-align: center;
         // width: 170px;
         background: transparent;
         border: none;
         // border: 2px solid white;
         // border-bottom: 3px solid white;
         // border-right: 3px solid white;
         color: $aqua;
         // border-bottom: 1px solid $aqua;
         text-transform: uppercase;
         padding: 5px 0;
         align-self: flex-start;
         font-family: 'Raleway', sans-serif;
         letter-spacing: 4px;
         margin-left: 23px;
      }
      a {
         text-decoration: none;
         color: inherit;
         transition: 0.6s;
         &:hover {
            color: $aqua;
         }
      }
   }
}
.portfolio .portfolio-item:nth-of-type(even) {
   flex-direction: row-reverse;
}

.tools-list {
   list-style-type: none;
   padding-left: 18px;
   display: flex;
   flex-wrap: wrap;
   li {
      margin: 5px;
      border: 2px solid $purpletwo;
      padding: 10px 18px;
      border-radius: 1px;
   }
   li:first-child {
      margin-left: 3px;
   }
   li: last-child {
      margin-right: 0;
   }
}
.skills-section {
   background: $darkestblue;
   color: white;
   padding: 3% 0;
   h3 {
      text-transform: uppercase;
      font-size: 2rem;
      // align-self: flex-start;
      // width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      // padding-left: 20px;
      margin-bottom: 5%;
      border-bottom: 4px solid $aqua;
   }
}
.skills-wrapper {
   width: 100%;
   max-width: 1000px;
   margin: 0 auto;
   padding: 0 5%;
   display: flex;
   flex-wrap: wrap;
   ul {
      // align-self: center;
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: flex-start;
      // text-align: center;
      li {
         @include flex;
         flex-direction: column;
         text-transform: uppercase;
         // align-self: center;
         margin: 1% 9% 0 0;
         // flex: 1 0 25%;
         i {
            font-size: 3rem;
         }
         p {
            font-size: 0.8rem;
            margin: 15px 0 30px 0;
         }
      }
   }
   .skills-style {
      padding: 1% 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      h1 {
         // border-bottom: 2px solid white;
         align-self: center;
         font-family: 'Raleway';
         padding-bottom: 7px;
         margin-bottom: 15px;
         color: white;
         // text-transform: uppercase;
         font-size: 1.4rem;
         // padding-left: 10px;
         // border-bottom: 3px solid $aqua;
         align-self: flex-start;
      }
   }
}
.fluent-wrapper {
   flex: 1 0 57%;
   // margin-right: 5%;
   li {
      width: 12.5%;
      // flex: 1 0 20%;
   }
}
.skills-right {
   flex: 1 0 43%;
   li {
      width: 12.5%;
   }
   // margin-left: 10%;
   // padding-left: 5%;
}
.skills-wrapper .skills-right .learning-wrapper ul li p {
   margin-bottom: 0;
}
