.article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

$orange: #e88d3a;
$lightorange: #b46332;
//$lightblue: #0dd2fc;
//$darkblue: #0d97be;
//$lightblue: #66a727; //green
//$darkblue: #548c22; //green
$lightblue: #ff9518;
$darkblue: #bc6c12;

@font-face {
   font-family: "Beleren";
   src: url("fonts/beleren-bold-webfont.ttf");
}

html {
   font-size: 10px;
}

body {
   background: url('subtle_background/footer_lodyas/footer_lodyas.png');
   background-repeat: repeat;
   font-family: 'Raleway', sans-serif;
}

a {
   text-decoration: none;
   color: inherit;
}
a:focus {
   outline: 0;
}
button:focus {
   outline: 0;
}
.overflow {
   overflow-x: hidden;
}
.hero {
   height: 100vh;
   background: url('assets/land-2-cut.jpg');
   background-size: cover;
   background-position: center center;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hero-filter {
   height: 100%;
   background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2), rgba(0,0,0,0.2), rgba(0,0,0,0.6));
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   position: relative;
   .hero-title {
      color: white;
      width: 100%;
      margin: 0;
      border-radius: 5%;
      text-align: center;
      text-transform: uppercase;
      font-size: 6.5rem;
      font-family: Beleren;
   }
   .hero-tagline {
      font-family: Beleren;
      color: white;
      font-size: 3rem;
      margin: 0;
      margin-bottom: 5%;
   }
   .hero-button {
      border: none;
      color: white;
      text-align: center;
      position: absolute;
      bottom: 7px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      img {
         width: 100%;
         animation: bounce 2s infinite;
      }
   }
}

.set-selection {
   height: 100vh;
   //background: #342F43;
   .set-selection-header {
      text-align: center;
      width: 100%;
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      h1 {
         margin: 0;
         color: white;
         font-family: Beleren;
         position: relative;
         &:before {
            content: '';
            height:2px;
            width: 100%;
            background: linear-gradient(to left, $lightblue, transparent);
            position: absolute;
            left: -25px;
            top: 50%;
            transform: translate(-100%, -50%);
         }
         &:after {
            content: '';
            height: 2px;
            width: 100%;
            background: linear-gradient(to right, $lightblue, transparent);
            position: absolute;
            right: -25px;
            transform: translate(100%, -50%);
            bottom: 50%;
         }
      }
   }
}

.set-selection-container {
   height: 50%;
   div {
      display: flex;
      justify-content: center;
      align-items: center;
      .set-title {
         font-size: 1.5rem;
         margin: 0;
         position: relative;
         //text-transform: uppercase;
         color: white;
         border: 2px solid white;
         padding: 1% 3%;
         background: rgba(0,0,0,0.5);
         transition: 0.5s ease;
         &:hover {
            background: rgba(255, 255, 255, 0.3);
         }
      }
   }
   .zendikar {
      background: url('assets/zendikar-4.jpg');
      background-size: cover;
      //background-position: center center;
   }
   .worldwake {
      background: url('assets/worldwake.jpg');
      background-size: cover;
      //background-position: center center;
   }
   .mirrodin {
      background: url('assets/mirrodin.jpg');
      background-size: cover;
      //background-position: center center;
   }
   .ascension {
      background: url('assets/ascension.jpg');
      background-size: cover;
      //background-position: center center;
   }
}

.carousel-filter {
   background: linear-gradient(transparent 75%, transparent, rgba(0,0,0,0.95));
   width: 100%;
   height: 100%;
   position: relative;
   p {
      cursor: pointer;
   }
}

.carousel-cell {
   width: 100%;
   height: 100%;
}

.flickity-page-dots {
   bottom: 13px;
   .dot {
      border: 1.5px solid white;
      opacity: 0.7;
   }
   .is-selected {
      background: white;
   }
}

.flickity-prev-next-button {
   background: transparent;
   transition: 0.5s;
   .arrow {
      fill: white;
   }
   &:hover {
      background: transparent;
      fill: $orange;
   }
}

.booster-confirm {
   height: 27%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   max-width: 1050px;
   margin: 0 auto;
   position: relative;
   font-size: 1.15rem;
   .booster-confirm-third {
      flex: 1 0 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .booster-button {
         width: 70%;
         background: linear-gradient($lightblue, $darkblue);
         padding: 6% 0;
         border: none;
         color: white;
         border-radius: 5px;
         box-shadow: inset 0 0 0 1px #484745,0 5px 15px #282729;
         transition: background 0.5s;
      }
      .booster-confirm-area {
         margin-top: 2%;
         width: 70%;
         padding: 5% 1%;
         background: black;
         border: 0.5px solid $lightblue;
         border-radius: 5px;
         color: white;
      }
   }
}
#confirmPack {
   height: 10%;
}

/* Card Selection Selectors */

.card-selection {
   margin-top: 3%;
   min-height: 100vh;
   position: relative;
}

.card-container {
   list-style-type: none;
   padding: 0 0 50px 0;
   max-width: 1080px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   li {
      width: calc(25% - 14px);
      margin: 7px;
      img {
         width: 100%;
         border-radius: 12px;
         cursor: pointer;
      }
   }
}

.error-message {
   font-family: Beleren;
   color: red;
   position: absolute;
   top: 43%;
   width: 100%;
   left: 50%;
   font-size: 1.5rem;
   transform: translate(-50%, -50%);
   text-align: center;
}

.set-modal {
   position: absolute;
   top: 200%;
   z-index: -5;
   left: 0;
   height: 100%;
   width: 100%;
   background: rgba(251, 255, 255, 0.7);
   color: black;
   transition: 0.7s ease;
   display: flex;
   flex-direction: column;
   .set-modal-exit {
      position: absolute;
      top: 0px;
      font-size: 3rem;
      cursor: pointer;
      color: $lightblue;
   }
   h3 {
      font-size: 2.8rem;
      font-family: Beleren;
      margin: 0;
      margin-top: 1%;
      margin-bottom: 1%;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
   }
   img {
      width: 5%;
   }
   ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
         margin: 5% 0;
         font-size: 1.3rem;
      }
   }
}
.set-modal-clicked {
   z-index: 5;
   top: 0;
}

.booster-lockin {
   color: white;
   font-size: 3rem;
   height: 8%;
   width: 100%;
   text-align: center;
   a {
      width: 40px;
   }
}
.start-draft {
   position: absolute;
   transform: translate(-50%, -50%);
   top:50%;
   left: 50%;
   transition: 0.5s;
   width: 175px;
   background: linear-gradient($lightblue, $darkblue);
   padding: 15px 0;
   border: 1.5px solid transparent;
   border-radius: 5px;
   color: white;
   font-size: 1.25rem;
   pointer-events: none;
   opacity: 0.2;
}

.booster-two-overlay {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   background: rgba(0, 0, 0, 0.3);
   transition: 1.2s ease;
   opacity: 0;
   z-index: -15;
   position: absolute;
   top:0;
   left:0;
}
.booster-three-overlay, .final-overlay {
   height: 100vh;
   width: 100%;
   justify-content: center;
   align-items: center;
   color: white;
   display: flex;
   flex-direction: column;
   background: rgba(0, 0, 0, 0.3);
   transition: 1.2s ease;
   opacity: 0;
   z-index: -15;
   position: absolute;
   top: 0;
   left: 0;
}

.booster-overlay-fix {
   opacity: 1;
   z-index: 15;
}

.card-selection-header, .user-picks-header {
   text-align: center;
   width: 100%;
   height: 15%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.7rem;
   transition: 0.75s ease;
   h1 {
      margin: 1.75% 0;
      color: white;
      font-family: Beleren;
      position: relative;
      &:before {
         content: '';
         height:2px;
         width: 100%;
         background: linear-gradient(to left, $lightblue, transparent);
         position: absolute;
         left: -25px;
         top: 50%;
         transform: translate(-100%, -50%);
      }
      &:after {
         content: '';
         height: 2px;
         width: 100%;
         background: linear-gradient(to right, $lightblue, transparent);
         position: absolute;
         right: -25px;
         transform: translate(100%, -50%);
         bottom: 50%;
      }
   }
}

.booster-two-overlay, .booster-three-overlay, .final-overlay {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   p {
      font-family: Beleren;
      font-size: 2rem;
   }
   .start-booster-three, .start-booster-two, .restart-button {
      width: 175px;
      background: linear-gradient($lightblue, $darkblue);
      padding: 15px 0;
      border: 1.5px solid transparent;
      color: white;
      transition: background 0.5s;
      font-size: 1.25rem;
      margin-bottom: 15px;
      text-align: center;
      border-radius: 5px;
      &:hover {
         border: 1.5px solid $lightblue;
      }
   }
}

.card-selection-tracker {
   list-style-type: none;
   margin: 24px auto;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   max-width: 600px;
   font-family: 'Raleway', sans-serif;
   li {
      flex: 1 0 33.33%;
      color: white;
      text-align: center;
      position: relative;
      font-size: 1.2rem;
      &:before {
         content: ' ';
         position: absolute;
         left: 0;
         top: -50%;
         height: 250%;
         width: 1.5px;
         background: linear-gradient(to bottom,rgba(120,120,120,0) 0%,rgba(120,120,120,1) 50%,rgba(120,120,120,0) 100%);
      }
   }
   li:last-of-type {
      &:after {
         content: ' ';
         position: absolute;
         right: 0;
         top: -50%;
         height: 250%;
         width: 1px;
         background: linear-gradient(to bottom,rgba(120,120,120,0) 0%,rgba(120,120,120,1) 50%,rgba(120,120,120,0) 100%);
      }
   }
}

.footer {
   display: flex;
   flex-wrap: wrap;
   padding: 0 0 15px 0;
   color: white;
   position: absolute;
   bottom: 0;
   width: 100%;
   font-family: 'Raleway', sans-serif;
   &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 1.5px;
      background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.16), transparent);
   }
   .footer-left, .footer-right {
      flex: 1 0 50%;
      text-align: center;
      padding-top: 15px;
      a {
         transition: 0.5s;
         &:hover {
            color: $lightblue;
         }
      }
   }
}

.user-picks-overlay {
   height: 100vh;
   width: 100%;
   color: white;
   background: radial-gradient(circle, black, black, rgba(0,0,0,0.6), rgba(0,0,0,0.25), transparent);
   transition: 0.5s ease;
   position: absolute;
   top:0;
   left:0;
   opacity: 0;
   z-index: -15;
   .user-picks-header {
      height: 25%;
   }
   .user-picks-carousel {
      height: 50%;
      .flickity-page-dots {
         bottom: -22px;
         .dots {
            height: 4px;
            width: 40px;
            margin: 0;
            border-radius: 0;
         }
      }
      .carousel-cell {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
   }
}

.user-picks-fix {
   z-index: 30;
   opacity: 1;
}

.close-picks-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 25%;
   .close-picks {
      width: 125px;
      padding: 15px 0;
      background: linear-gradient(#0bc1e6, #207AD1);
      border: 1.5px solid transparent;
      color: white;
      font-size: 1.25rem;
      border-radius: 5px;
      &:hover {
         border: 1.5px solid #0bc1e6;
      }
   }
}

.view-picks {
   width: 175px;
   background: linear-gradient(#0bc1e6, #207AD1);
   padding: 15px 0;
   border: 1.5px solid transparent;
   color: white;
   transition: background 0.5s;
   font-size: 1.25rem;
   border-radius: 5px;
   &:hover {
      border: 1.5px solid #0bc1e6;
   }
}

.user-picks-carousel .flickity-page-dots {
   display: none;
}

.set-button {
   img {
      width: 40px;
      opacity: 0.05;
      transition: 0.5s all ease;
   }
}

@keyframes bounce {
   0%, 50%, 100% {
      transform: translateY(0);
   }
   25%, 75% {
      transform: translateY(-3.75px);
   }
}

/* TEST */
span {
   /*   positioning */
   position: absolute;
   opacity: 0;
   top: 0;
   left: 0;

   /*   gradient   */
   background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 1%,rgba(255,255,255,0.6) 30%,rgba(255,255,255,0.85) 50%,rgba(255,255,255,0.85) 70%,rgba(255,255,255,0.85) 71%,rgba(255,255,255,0) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

   /*  forming the shine element
       play around with the width, skew and gradient to get different effects
     */
   width: 15%;
   height: 100%;
   transform: skew(-10deg,0deg);
   -webkit-transform: skew(-10deg,0deg);
   -moz-transform: skew(-10deg,0deg);
   -ms-transform: skew(-10deg,0deg);
   -o-transform: skew(-10deg,0deg);

   /*  animating it  */
   animation: move 1s;
   animation-iteration-count: infinite;
   animation-delay: 1s;
   -webkit-animation: move 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-delay: 1s;
   -moz-transform: skew(-10deg,0deg);
   -moz-animation: move 2s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-delay: 1s;
   -ms-transform: skew(-10deg,0deg);
   -ms-animation: move 2s;
   -ms-animation-iteration-count: infinite;
   -ms-animation-delay: 1s;
   -o-transform: skew(-10deg,0deg);
   -o-animation: move 2s;
   -o-animation-iteration-count: infinite;
   -o-animation-delay: 1s;
}

/*  */
@keyframes move {
   0%  { left: 0; opacity: 0; }
   5% {opacity: 0.0}
   48% {opacity: 0.2}
   80% {opacity: 0.0}
   100% { left: 92%}
}

@media (max-width: 750px) {
   .booster-confirm {
      .booster-confirm-third {
         .booster-button {
            width: 85%;
         }
         .booster-confirm-area {
            width: 85%;
         }
      }
   }
   .set-modal {
      img {
         width: 8%;
      }
   }
   .card-selection {
      .card-container {
         li {
            width: calc(33% - 14px);
         }
      }
   }
}

@media (max-width: 500px) {
   .booster-confirm {
      .booster-confirm-third {
         .booster-button {
            width: 95%;
            padding: 14% 0;
         }
         .booster-confirm-area {
            width: 95%;
            padding: 13% 1%;
         }
      }
   }
   .set-modal {
      img {
         width: 9.5%;
      }
   }
   .card-selection {
      .card-container {
         li {
            width: calc(50% - 14px);
         }
      }
   }
   .footer {
      .footer-left, .footer-right {
         flex: 1 0 100%;
      }
   }
}

@media (max-width: 375px) {
   .booster-confirm {
      .booster-confirm-third {
         flex: initial;
         width: 50%;
         .booster-button {
            width: 90%;
            padding: 5.5% 0;
         }
         .booster-confirm-area {
            width: 90%;
            padding: 4% 1%;
         }
      }
   }
   .set-modal {
      img {
         width: 13.5%;
      }
   }
   .hero {
      .hero-title {
         font-size: 4.5rem;
      }
      .hero-tagline {
         font-size: 2rem;
      }
   }
   .set-selection {
      .set-selection-header {
         h1 {
            font-size: 3rem;
         }
      }
   }
   .card-selection {
      .card-selection-header {
         h1 {
            font-size: 3rem;
         }
      }
   }
}